@page
@model SLS.Pages.Slijterij.OrderIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Orderoverzicht</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Whisky.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Whisky.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Whisky.AlcoholPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Whisky.Price)
            </th>
            <th>
                Totaal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Whisky.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Whisky.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Whisky.AlcoholPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Whisky.Price)
            </td>
            <td>
                @(item.Whisky.Price * item.Quantity)
            </td>

            <td>
                <a asp-page="./OrderDetail" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
